<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Products</title>
</head>
<body>
<h1>Products</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.productId}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.category}"></td>
    <td th:text="${product.price}"></td>
    <td>
      <a th:href="@{/edit-product/{id}(id=${product.productId})}">Edit</a>
      <a th:href="@{/delete-product/{id}(id=${product.productId})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/add-product">Add Product</a>
</body>
</html>